.content-bgc-yi {
  background-color: skyblue;
}

.content-bgc-ye {
  background-color: #171413;
}

.content-bgc-Jordann {
  background-color: #4a5c5b;
}

.content-bgc-ban {
  background-color: #2b2d2a;
}

.content-bgc-tian {
  background-color: #3d2b0c;
}

.content-bgc-ban {
  background-color: #a28687;
}

.content-bgc-wo {
  background-color: #0d244c;
}

.content-bgc-yao {
  background-color: #089c75;
}

.content-bgc-huo {
  background-color: #040404;
}

.content-bgc-yun {
  background-color: #d5d4c2;
}

.content-bgc-su {
  background-color: #d9dacd;
}

.content-bgc-shou {
  background-color: #f3f0e4;
}

.content-bgc-tai {
  background-color: #42384e;
}

.content-bgc-beng {
  background-color: #2d2833;
}

.content-bgc-pizza {
  background-color: #c7bf17;
}
