body {
  background-color: #51c4d317;
}

ul {
  /* 完全移除列表符号 */
  list-style: none;
  /* 移除列表项的左边距 */
  padding-left: 0;
}

a {
  /* 将下划线去除 */
  text-decoration: none;
}

/* 设置每个内容之间的距离 */
.item-margin {
  margin-top: 230px;
}

/* 根据interest部分中不同的图片调整位置 */
.cover-padding-mu {
  padding-top: 50px;
}

.cover-padding-book {
  padding-left: 30px;
}

.cover-padding-game {
  padding-left: 35px;
}