.nav{
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  /* 设置背景色 */
  /* 设置距离上方10px */
  margin-top: 10px;
  /* 设置高度为35px */
  height: 30px;
  /* 设置宽度为115px */
  width: 70px;
}

.nav-item a img {
  /* 设置高度为父元素的100% */
  height: 100%;
}

.nav-item a {
  /* 设置文字颜色为黑色 */
  color: black;
  /* 设置文字居中 */
  text-align: center;
}

.nav-item a{
  display: flex;
  /* 将主轴方向设为平行 */
  flex-direction: column;
  height: 100%;
}

.content{
  padding-left: 12%;
  padding-right: 12%;
}

.home {
  margin-top: 10px;
  background-image: url(../Resources/images/background-image.jpg);
  padding: 10px;
}

.home-item {
  display: flex;
  /* 设置宽度和高度 */
  width: 100%;
  margin-bottom: 30px;

}

.home-about {
  width: 200px;
  border: 1px solid white;
}

.home-about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home-about p {
  text-align: center;
  color: white;
}

.about-contact img {
  width: 25px;
  height: 25px;

}

.home-about ul{
  display: flex;
  justify-content: space-around;
}

.interest {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

.int-item {
  width: 100%;
  background-color: #507883; 
}