/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "得意黑 斜体";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/vpDdf5Wyxz2A/mxJgBz1Vn7qA.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/vpDdf5Wyxz2A/SbtqU0EbY2Qb.woff") format("woff");
  font-display: swap;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 200px;
}

.nav-item {
  /* 设置背景色 */
  /* 设置距离上方10px */
  margin-top: 10px;
  /* 设置高度为35px */
  height: 30px;
  /* 设置宽度为115px */
  width: 70px;
}

.nav-item a img {
  /* 设置高度为父元素的100% */
  height: 100%;
}

.nav-item a {
  /* 设置文字颜色为黑色 */
  color: black;
  /* 设置文字居中 */
  text-align: center;
}

.nav-item a {
  display: flex;
  /* 将主轴方向设为平行 */
  flex-direction: column;
  height: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.home {
  background-image: url(../Resources/images/background-image.jpg);
  padding: 50px;
  border-radius: 25px;
}

.home-item {
  display: flex;
  /* 设置宽度和高度 */
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(50px)
}

.home-about {
  width: 200px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}

.home-about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home-about p {
  text-align: center;
  font-weight: 600;
}


.about-contact img {
  width: 25px;
  height: 25px;
}

.home-about ul {
  display: flex;
  justify-content: space-around;
}

.home-about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 100%;
}

.home-about-text h1 span {
  font-family: "得意黑 斜体", sans-serif;
  /* 使用自定义字体 */
  font-weight: 400;
  /* 保持与 @font-face 中一致 */
  font-size: 40px;
}


.interest {
  display: flex;
  flex-direction: column;
}

.int-item {
  width: 100%;
}

.int-item h2 {
  width: 750px;
  margin: 0 auto;
  margin-top: 50px
}

.int-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.int-box-item {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.int-box-item .int-content {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  margin-top: 90%;
  transform: translate(5px, 5px) rotate(345deg);
}

.int-box-item .content-img {
  position: absolute;
  top: 32%;
  left: 45%;
  transform: translate(-50%, 0) rotate(345deg);
  width: 190px;

}

.int-box-item .content-img img:hover {
  transform: translate(20px, -70px) rotate(15deg);
}

.int-box-item-mu {
  width: 250px;
  height: 220px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.int-box-item-mu .int-content {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  margin-top: 60%;
  transform: translate(5px, 5px) rotate(345deg);
}

.int-box-item-mu .content-img {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translate(-50%, 0) rotate(345deg);
  width: 190px;

}

.int-box-item-mu .content-img img {
  transition: all 0.2s ease-in;
}

.int-box-item-mu .content-img img:hover {
  transform: translate(25px, -35px) rotate(15deg);
}


.content-img img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}



.mu-margin-top {
  margin-top: -60px;
}

.book-margin-top {
  margin-top: -90px;
}

.content-img img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.int-mov {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 30px;
}

.mov-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 10px 0;
  margin: 30px 0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.mov-img-box1 {
  width: 25%;
  height: 90%;
}

.mov-img-box2 {
  width: 65%;
  height: 90%;
}

.mov-img img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mov-text img {
  width: 11.2px;
  height: 8.4px;
}

.mov-text {
  padding-left: 10px;
  padding-bottom: 5px;
  border-left: 2px solid red;
}

.mov-text p {
  margin: 0;
  padding: 0;
  font: inherit;
}

.like-item {
  width: 100%;
}

.like-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 150px;
}

.like-item .like-box-item {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: clip;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.like-box-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.like-box-item p {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.like-box-item:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.like-box-item:hover p{
  opacity: 1;
}
/* 
.photo-item{
  display: flex;
  flex-direction: row;
}

.photo-item img{
  width: 100%;
  height: 100%;
} */

.skill-item { 
  display: flex;
  justify-content:space-evenly;
  margin: 50px 0px;
}

.skill-item div{
  width: 100px;
  height: 100px;
}

.skill-item img { 
  width: 100%;
  height: 100%;
}


footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: #a8a8a8;
}

footer div{ 
  display: flex;
  /* 去除list的默认样式 */
  list-style: none;
}

footer div li{ 
  margin: 0 10px;
}

footer div img{ 
  width: 30px;
  height: 30px;
}